# .dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Rails logs and temp files
/log
/tmp

# Database files
/db/*.sqlite3
/db/*.sqlite3-journal

# Local environment files
.env

# Mac specific files
.DS_Store

# Node.js modules
/node_modules